@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="text-center">
    <h1 class="display-4">Welcome to Rmq Chat</h1>
    @if (SignInManager.IsSignedIn(User))
    {
        <form class="form-inline" asp-page="/Room" method="post" >
            <span>Room Name</span>
            <input type="text" id="RoomName" name="RoomName" value=""/> 
            <input type="submit" value="Enter room">
        </form>
    }
    else
    {
        <div>
            <h2>Pleas login into Application to use chat.</h2>
        </div>
    }
</div>
